syncthing
!gui/syncthing
!Godeps/_workspace/src/github.com/syncthing
syncthing.exe
*.tar.gz
*.zip
*.asc
.jshintrc
coverage.out
files/pidx
bin
perfstats*.csv
coverage.xml
syncthing.sig
RELEASE
deb

*.apk
*.app
*.framework
*.aar
*.iml
.idea
.gradle

.DS_Store
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.moved-aside
DerivedData
.idea/
*.hmap
Breakpoints.xcbkptlist
UserInterfaceState.xcuserstate
*.ipa
*.xcuserstate
Breakpoints_v2.xcbkptlist
*.xccheckout
xcuserdata
*.xcworkspace
!default.xcworkspace

